* {
  outline: none;
}

body {
  font-family: PT Sans, sans-serif;
  padding: 1em;
}

.calcDisplay {
  border: .2em solid black;
  border-radius: .5em;
  margin: 1em auto;
  max-width: 20em;
  height: 5em;
  padding: 0 1em;
  overflow: hidden;
}

.keypad {
  font-size: 2em;
  font-weight: bold;
  margin: .1em;
}

/* styling for the calculator buttons */
.calc {
  font-family: PT Sans, Calibri, sans-serif;
  height: 50px;
  width: 50px;
  border-radius: 25%;
  margin: .1em;
}

.calcOp {
	background-color: #888888;
}